#### Import libraries

In [1]:
import os
import cv2
import numpy as np
import pandas as pd

import re

from sklearn.metrics import pairwise

from insightface.app import FaceAnalysis

#### Configure insightface

In [2]:
faceapp = FaceAnalysis(name='buffalo_l',root='./models',providers=['CPUExecutionProvider'])

faceapp.prepare(ctx_id=0, det_size=(640,640))

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: ./models\models\buffalo_l\1k3d68.onnx landmark_3d_68 ['None', 3, 192, 192] 0.0 1.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: ./models\models\buffalo_l\2d106det.onnx landmark_2d_106 ['None', 3, 192, 192] 0.0 1.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: ./models\models\buffalo_l\det_10g.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: ./models\models\buffalo_l\genderage.onnx genderage ['None', 3, 96, 96] 0.0 1.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: ./models\models\buffalo_l\w600k_r50.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

#### Training model on dummy data

In [3]:
students = []

rootImagesPath = 'test_training_images'
listdir = os.listdir(rootImagesPath)
for folder_name in listdir:
    regno, name = folder_name.split('_')

    img_files = os.listdir(path=f'{rootImagesPath}/{folder_name}')
    for file in img_files:
        path = f'./{rootImagesPath}/{folder_name}/{file}'
        img_arr = cv2.imread(path)      

        if(img_arr is None):
            pass
        else:
            result = faceapp.get(img_arr,max_num=1) 
            
            if len(result) > 0:
                res = result[0]
                embedding = res['embedding']
                students.append([name, regno, embedding])

C:\DEVELOPMENT\Semester-projects\ML\v-attend\venv\Lib\site-packages\insightface\utils\transform.py:68: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  P = np.linalg.lstsq(X_homo, Y)[0].T # Affine matrix. 3 x 4

In [4]:
dataframe = pd.DataFrame(students,columns=['Name','RegNo','Facial_Features'])
dataframe

                 Name RegNo                                    Facial_Features
0    Deepika Padukone  RNO1  [-0.9573581, -0.25624233, -1.0440776, -0.76392...
1    Deepika Padukone  RNO1  [-0.65350217, -0.0012033135, -0.45100838, 0.12...
2    Deepika Padukone  RNO1  [-0.8506129, 0.7182629, -0.37614322, 0.0990465...
3    Deepika Padukone  RNO1  [-0.44858345, 0.6458431, -0.9631757, 0.2934463...
4    Deepika Padukone  RNO1  [-0.82761776, -0.78956044, -0.34464675, 0.5439...
5           Shah Rukh  RNO2  [-1.6918119, -1.070892, 0.281236, 0.18796188, ...
6           Shah Rukh  RNO2  [-1.890654, 0.16781084, 1.112603, -0.23402384,...
7           Shah Rukh  RNO2  [-2.1608286, -1.6398307, -0.6714291, -0.230559...
8           Shah Rukh  RNO2  [-1.0876055, 0.24545057, 0.833314, 0.78193283,...
9   Vijay Devarakonda  RNO3  [0.53450793, -0.29662877, -0.6849566, -1.00796...
10  Vijay Devarakonda  RNO3  [0.02820523, -1.3886602, -0.81719476, -0.26402...
11  Vijay Devarakonda  RNO3  [-0.5982553, -0.65151304, -0.55940485, -0.7465...
12  Vijay Devarakonda  RNO3  [0.50420386, -0.25967577, -0.4295507, -0.67661...
13  Vijay Devarakonda  RNO3  [0.32240587, -1.0165071, -0.1327106, -0.201673...
14   Sidarth Malhotra  RNO4  [0.30944216, 1.0839651, 0.06728268, -0.0744684...
15   Sidarth Malhotra  RNO4  [0.48452544, 1.0784155, -0.44904214, 0.1107082...
16   Sidarth Malhotra  RNO4  [0.22700202, 0.8846015, -0.9773051, 0.28415596...
17   Sidarth Malhotra  RNO4  [0.6029566, 2.172272, -1.2314634, -0.7147508, ...
18   Sidarth Malhotra  RNO4  [0.5929547, -0.24652672, -1.0001945, 0.0925669...
19   Sidarth Malhotra  RNO4  [1.3039174, 1.1514081, -0.4816836, -0.84219193...
20   Sidarth Malhotra  RNO4  [0.5496297, 0.92424107, -0.5138188, -0.413103,...
21         Alia Bhatt  RNO5  [-0.37305012, 0.052777156, 0.47865266, -0.0440...
22         Alia Bhatt  RNO5  [-0.38472006, -0.8931857, 0.95957094, -0.30979...
23         Alia Bhatt  RNO5  [1.0315578, -0.5628338, 0.27809983, -0.2796705...
24         Alia Bhatt  RNO5  [-0.10802649, 0.087598786, 0.0031792521, -2.00...
25         Alia Bhatt  RNO5  [-0.085299596, 0.2226957, 0.84996736, 0.562261...
26        Kriti Sanon  RNO6  [-0.6133012, 0.2087077, -1.309377, 1.3840224, ...
27        Kriti Sanon  RNO6  [-0.8393009, -0.4952888, -0.6600052, 1.7945323...
28        Kriti Sanon  RNO6  [-1.8258115, -1.1281533, -0.52713156, 0.572020...
29        Kriti Sanon  RNO6  [-1.3048308, 0.21700834, -2.0588288, 1.2382777...
30        Kriti Sanon  RNO6  [-0.7969445, 0.071559295, -0.98786503, 0.91850...
31        Kriti Sanon  RNO6  [-1.364923, -0.14898477, -0.5909016, 1.3819526...
32        Kriti Sanon  RNO6  [-0.9691743, 0.2564698, -1.413265, 0.60820645,...
33        Kriti Sanon  RNO6  [-0.04594555, -0.2600625, -0.96285814, 0.48586...

#### Inference with test image

In [5]:
img_test = cv2.imread('./test_test_images/1.jpg')
cv2.imshow('test image',img_test)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [6]:
res_test = faceapp.get(img_test,max_num=0)
for i, rt in enumerate(res_test):
    embed_test = rt['embedding']

C:\DEVELOPMENT\Semester-projects\ML\v-attend\venv\Lib\site-packages\insightface\utils\transform.py:68: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  P = np.linalg.lstsq(X_homo, Y)[0].T # Affine matrix. 3 x 4

In [7]:
len(embed_test)

512

In [8]:
X_list =  dataframe['Facial_Features'].tolist()
X = np.asarray(X_list)

In [9]:
y = embed_test.reshape(1,512) # 1 x 512

In [10]:
cosine_similar = pairwise.cosine_similarity(X,y)

In [11]:
data_search = dataframe.copy()
data_search['cosine'] = cosine_similar

In [12]:
data_search.head()

,Name,RegNo,Facial_Features,cosine
0,Deepika Padukone,RNO1,"[-0.9573581, -0.25624233, -1.0440776, -0.76392...",0.753564
1,Deepika Padukone,RNO1,"[-0.65350217, -0.0012033135, -0.45100838, 0.12...",0.731242
2,Deepika Padukone,RNO1,"[-0.8506129, 0.7182629, -0.37614322, 0.0990465...",0.692320
3,Deepika Padukone,RNO1,"[-0.44858345, 0.6458431, -0.9631757, 0.2934463...",0.657124
4,Deepika Padukone,RNO1,"[-0.82761776, -0.78956044, -0.34464675, 0.5439...",0.712940

In [13]:
datafilter = data_search.query('cosine>0.5')
datafilter.reset_index(drop=True,inplace=True)

if len(datafilter) > 0:
    argmax = datafilter['cosine'].argmax()
    name_cos , regNo_cos = datafilter.loc[argmax][['Name','RegNo']]
    
else:
    name_cos = 'Unknown'
    regNo_cos = 'Unknown'

In [14]:
print(name_cos,regNo_cos)

Deepika Padukone RNO1

#### Compress and compare results

In [15]:
dataframe_compress = dataframe.groupby(by=['Name','RegNo']).mean()
dataframe_compress.reset_index(inplace=True)
dataframe_compress

                Name RegNo                                    Facial_Features
0         Alia Bhatt  RNO5  [0.016092306, -0.21858957, 0.51389396, -0.4144...
1   Deepika Padukone  RNO1  [-0.7475349, 0.06341998, -0.6358103, 0.0585210...
2        Kriti Sanon  RNO6  [-0.970029, -0.15984303, -1.0637791, 1.0479219...
3          Shah Rukh  RNO2  [-1.707725, -0.5743653, 0.38893095, 0.12632784...
4   Sidarth Malhotra  RNO4  [0.5814897, 1.006911, -0.65517503, -0.22244044...
5  Vijay Devarakonda  RNO3  [0.15821353, -0.722597, -0.5247635, -0.5793685...

In [16]:
X_list =  dataframe_compress['Facial_Features'].tolist()
X = np.asarray(X_list)

In [17]:
cosine_similar = pairwise.cosine_similarity(X,y)

In [19]:
data_search = dataframe_compress.copy()
data_search['cosine'] = cosine_similar

In [20]:
data_search.head()

,Name,RegNo,Facial_Features,cosine
0,Alia Bhatt,RNO5,"[0.016092306, -0.21858957, 0.51389396, -0.4144...",0.141109
1,Deepika Padukone,RNO1,"[-0.7475349, 0.06341998, -0.6358103, 0.0585210...",0.819566
2,Kriti Sanon,RNO6,"[-0.970029, -0.15984303, -1.0637791, 1.0479219...",0.209616
3,Shah Rukh,RNO2,"[-1.707725, -0.5743653, 0.38893095, 0.12632784...",0.012516
4,Sidarth Malhotra,RNO4,"[0.5814897, 1.006911, -0.65517503, -0.22244044...",0.106218

In [21]:
datafilter = data_search.query('cosine>0.5')
datafilter.reset_index(drop=True,inplace=True)

if len(datafilter) > 0:
    argmax = datafilter['cosine'].argmax()
    name_cos , regNo_cos = datafilter.loc[argmax][['Name','RegNo']]
    
else:
    name_cos = 'Unknown'
    regNo_cos = 'Unknown'

In [22]:
print(name_cos,regNo_cos)

Deepika Padukone RNO1